body {
    /* background-image: url(/src/assets/svg/Background.svg); */
    background-color: #D12AB2;
    /* background-size: cover;
    background-repeat: no-repeat; */

}

.body-sections {
    min-width: fit-content;
    width: 100%;
    overflow: hidden;
    margin: 10px;
}

::-webkit-scrollbar {
    /* background-color: transparent;
    width: 0; */
}