* {
    outline: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    /* background-color: rgb(32, 32, 32); */
    list-style: none;
    text-decoration: none;
}
.up-main {
    display: grid;
    grid-template-columns: 25% 74%;
    grid-template-rows: auto 605px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
        "area1 area2"
        "area3 area4";
    padding: 10px;
}

.nav-prin {
    grid-area: area1;
}

.nav-sec {
    grid-area: area2;
}

.menu-opti {
    grid-area: area3;
}

.conten-prin {
    grid-area: area4;
}