.up-main {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: min-content;
    overflow: hidden;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: 
        "area1 area2"
        "area3 area4";

    flex: auto;
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav-prin {grid-area: area1;} .nav-sec {grid-area: area2;} .menu-opti {grid-area: area3;} .conten-prin {   grid-area: area4; overflow-y: hidden; position:sticky ;}