.menu-opti-1 {background-color: rgba(169, 169, 169, .50); width: fit-content%; height: 100%; border-radius: 8px; padding: 0 15px;} .separador {height: 4px; width: 100%; background-color: rgba(21, 21, 21, 0.1); border-radius: 2px;} .list-reprod, .list-fav, .list-recom, .recient-escu {background-color: transparent; height: auto; width: 100%; min-width: max-content; display: flex; align-items: center; padding: 10px 0; border-width: 0; gap: 8px; opacity: 0.75;} .incon-list-1, .incon-list-2, .incon-list-3, .incon-list-4 {height: 25px; width: 25px; border-width: 0;} .text-op-lis, .text-op-fav, .text-op-rec, .text-op-res {background-color: transparent; color: #e8e8e8; font-weight: 700; font-size: 15px; letter-spacing: 1px;}

.recient-escu-lis {
    display: flex;
    height: auto;
    width: max-content;
    padding: 0 10px;
}

.agg-recien {
    padding: 10px 0;
}

.album {
    display: flex;
    justify-content: space-between;
    width: max-content;
    height: auto;
    padding: 8px 0;
    gap: 8px;
}

.img-m {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: aqua;
}

.text-sect {
    opacity: 0.8;
}

.titul-m {
    font-size: 16px;
    font-weight: 800;
    height: auto;
    width: fit-content;
    letter-spacing: 1px;
    color: #e8e8e8;
}

.text-m {
    font-size: 14px;
    font-weight: 600;
    height: auto;
    width: fit-content;
    padding: 0 6px;
    letter-spacing: 1px;
    color: #e8e8e8;
    opacity: 0.6;
}

