.reprod-foot {display: flex; justify-content: space-between; min-width: min-content; height: max-content; margin-top: 5px; margin-bottom: 5px;}

.reprod-int {display: flex; justify-content: space-between; align-items: center; height: 90px; margin: 0 15px; position: relative; width: 100%;}

/* .reprod-cont-btn {} */

.music-in-prog {padding: 0 10px; display: flex; gap: 10px; width: auto;}

.portada-misc {height: 70px; width: 70px; background-color: aqua; border-style: 0; border-radius: 4px;}

.text-music {width: 210px;} .track {width: fit-content; opacity: 0.9;} .author {width: fit-content; opacity: 0.7;} .name-mus{font-weight: 700; font-size: 16px; color: #e6e6e6;} .name-art {font-weight: 400; font-size: 12px; color: #e6e6e6;}

.control-reprod {display: flex; flex-direction: column; justify-content: center; width: 42%; height: 100%; gap: 3px;}

.reprod-btn {display: grid; justify-content: center; grid-template-columns: repeat(5, 40px); grid-template-rows: repeat(1, 40px); grid-gap: 25px; grid-template-areas: 'random back plapau next repit';}

.pla-pau-btn, .back-btn, .next-btn, .repeat-btn, .random-btn {opacity: 0.7;}

.pla-pau-img {height: 35px;} .back-img, .next-img {height: 32px;} .repe-img, .rand-img {height: 30px;}

#playPause {display: flex; justify-content: center; align-items: center; border-style: none; background-color: transparent; grid-area: plapau;}

#back {display: flex; justify-content: center; align-items: center; border-style: none; border-style: none; background-color: transparent; grid-area: back;}

#next {display: flex; justify-content: center; align-items: center; border-style: none; background-color: transparent; grid-area: next;}

#repeat {display: flex; justify-content: center; align-items: center; border-style: none; background-color: transparent; grid-area: repit;}

#random {display: flex; justify-content: center; align-items: center; border-style: none; background-color: transparent; grid-area: random;}

#barraReproduccion {width: 98%; height: 15px; margin: 2px 5px; justify-content: center; align-items: center;}

.tempo-music {display: flex; align-items: center;}

.tempo {display: flex; justify-content: space-between;}

.time-izq, .time-der {height: 15px; width: auto; font-size: 12px; font-weight: 700; color: #e6e6e6; opacity: 0.9; padding: 0 3px; letter-spacing: 1px;}

.vol-lis {display: flex;}

.list-in-prog {display: flex; justify-content: center; align-items: center; height: 25px; width: 25px; border-bottom: none; border-width: 0; background-color: transparent; opacity: 0.7;}

.list-in-prog-img {height: 22px; width: 22px;}

.vol-lis {display: flex; width: fit-content;justify-content: center; gap: 10px; align-items: center;}

.mute-btn {height: 25px; width: 25px; background-color: transparent; border-width: 0; opacity: 0.7;}

.vol-contr {display: flex; align-items: center; width: fit-content; align-items: center; gap: 8px;} .vol-icon-img {height: 22px; width: 22px;} #volumen {height: auto; width: 95px;}

#pistaActual {
    position: sticky;
}