
.reprod-foot {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: brown;
    align-items: center;
    padding: 10px;
}

.reprod {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: brown;
}